body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    min-height: 100vh;
    max-width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "nav"
    "main"
    "footer"
    ;
}

nav {
    grid-area: nav;
}

/* vv Main Indexvv */

#landing-page-main {
    grid-area: main;
    display: grid;
    margin: 0 8rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.user-container {
    display: grid;
    border: 0.7rem solid black;
    border-radius: 0.5rem;
    row-gap: 1rem;
    margin: 1rem;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    'question question'
    'img link'
    ;
    
    p {
        grid-area: question;
        font-size: 4rem;
        font-weight: 600;
        margin: 0.5rem 0;
    }
    
    img {
        grid-area: img;
        width: 50%;
        height: auto;
        
    }
    
    a {
        grid-area: link;
        font-size: 3rem;
        margin: 1rem;
        margin-right: 5rem;
        justify-self: start;
        align-self: center;
        background-color: rgb(217, 217, 217);
        border: 0.5rem solid black;
        padding: 1rem;
        border-radius: 0.5rem;
        text-decoration: none;
        color: black
    }
}


.intro-container {
    grid-area: intro;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    align-self: self-start;
    margin-bottom: 5rem;
    
    >* {
        color: #333;
    }
    
    h1 {
        font-size: 10rem;
    }
    
    p {
        font-size: 4rem;
        margin: 1rem;
        font-weight: 700;
    }
}

.friends-container {
    grid-area: friends;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.employer-container {
    grid-area: employer;
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}

.contact-container {
    grid-area: contact;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

.blank {
    grid-area: blank;
}
/* ^^ Main Page ^^ */



/* vv In-Progess Page vv */

#in-progress-body {
    align-items: center;
}

#in-progress-main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;

    h1 {
        font-size: 12rem;
        margin: 2rem;
    }

    p {
        font-size: 4rem;
        margin: 1rem;
    }

    a {
        font-size: 3rem;
        margin: 3rem;
        padding: 1rem;
        background-color: rgb(217, 217, 217);
        border: 0.5rem solid black;
        border-radius: 0.5rem;
        text-decoration: none;
        color: black
    }

}
/* ^^ In-Progress Page ^^ */

footer {
    grid-area: footer;
}
/* Vertical */
@media screen and (min-height: 1100px) {
    body {
        height: 80vh;
    }
    
    .user-container, * {
        max-height: 40rem;
    } 
    
    .intro-container {
        margin-bottom: 10vh;
    }
}
/* Tablet */
@media screen and (max-width: 1100px) {

    #landing-page-main {
        margin: 0 4rem;
    }

    .user-container {
        p {
            font-size: 3rem;
            margin-top: 1rem;
        }
        
        img {
            height: 18rem;
            width: auto;
        }
        
        a {
            margin: 2rem;
        }
    }
}

/* Phone */
@media screen and (max-width: 500px) {
    #landing-page-main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        margin: 0;

        h1 {
            margin-left: 1rem;
            font-size: 7rem;
        }

        p {
            font-size: 3.5rem;
            margin: 2rem 1rem;
        }

    }

    .intro-container {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .friends-container {
        grid-area: friends;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .employer-container {
        grid-area: employer;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    .contact-container {
        grid-area: contact;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
}
