body, html {
    max-width: 1200px;
    margin: auto;
    align-self: center;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.card {
    flex: 1;
    max-width: 50%;
    max-height: auto;
}

.card-back {
    visibility: collapse;
    float: left;
}

img {
    max-width: 100%;
    max-height: auto;
}